div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
  box-shadow:rgb(197, 94, 53)
}

#color {
  color: rgb(234, 217, 219);
  font-family: monospace;
  box-shadow:rgb(197, 94, 53)
}

#linkColor {
  color: rgb(184, 188, 215);
  font-family: monospace;
}

.splash {
  background-color: aqua;
  font-family: monospace;
  padding: 50px 100px;
  top: 50%;
  
}

div.test-color a {
  color: rgb(0, 153, 112);
}

#img {
  background: url("https://www.istockphoto.com/photo/background-of-galaxy-and-stars-gm1035676256-277258896?utm_source=unsplash&utm_medium=affiliate&utm_campaign=srp_photos_top&utm_content=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fspace&utm_term=space%3A%3A%3A");
  background-repeat: no-repeat;
  background-size: cover;
  height: 695px;
  padding: 60px 30px 0 30px;
  margin-top: 50px;
}

#color {
  background-color :rgb(197, 94, 53) ; 
	position: -webkit-sticky;
  position: sticky;
  top: 0;
	font-family: monospace;
	text-shadow: 2px 2px #54044f;
	display: inline-block;
  font-size: 16px;
	padding: 15px 450px;
	color: rgb(240, 231, 231);
	
}

body {
  background-color:rgb(24, 65, 65);
  margin: auto;
  width: 50%;
  border: 3px solid rgb(102, 9, 105);
  padding: 10px;
  margin-top: 50px;
  box-shadow:rgb(197, 94, 53)
  
}

.container {
  background-color: rgba(53, 215, 255, 0.712);
  margin: auto;
  padding: 30px 10px;
  border-radius: 30px;
  margin-top: 50px;
  size:100rem;
}
body {
  opacity: 0.79;
  font-family: 'monospace';
  background-color: transparent;
  font-weight: bold;
  text-shadow: rgb(111, 3, 212);
  text-align: center;
  color: rgba(250, 249, 249, 0.939);

}
.btn-info {
  width: 80px;
  margin: auto;
  display: block;
  font-weight: bold;
  color: rgb(224, 123, 255);
  background-color: mediumblue;
  opacity: .80;
}
h1 {
  font-family: 'monospace';
  color: rgb(232, 234, 238);
  text-align: center;
  font-style: italic;
  font-weight: bold;
  margin: 25px 0;
  text-shadow: darkviolet;
}
h2, h3 {
  font-family: 'monospace';
  text-shadow: rgb(220, 222, 228);
  text-align: center;
  font-style: italic;
  font-weight: bold;
  margin: 25px 0;
  color: rgb(224, 206, 231);
}
html {
  background-image: url(https://t3.ftcdn.net/jpg/03/07/22/02/360_F_307220247_Oy1sghv8j5CPHmXBsncFN17UD7JViLcw.jpg);
  background-repeat: no-repeat;
  background-position: relative;
  background-size: cover;
  overflow: auto;
  background-position-x: 0;
  background-position-y: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}
h4, h5, li {
  font-family: 'monospace';
  text-shadow: rgb(180, 143, 180);
  color: rgb(219, 189, 219);
  font-weight: bold;
  size:100rem;

}