
@{
  Layout = "_Layout";
}
<div id="color">
  <div class="splash">
    
  <h1>You have three days to live. What are you going to do?!</h1>
  <p>@Html.ActionLink("See all items", "Index", "Items")</p> <p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
  
  </div>
  
</div>
<div id="img"></div>
